{
        "parser": "typescript",
        "singleQuote": true,
        "tabWidth": 4,
        "semi": true,
        "trailingComma": "all",
        "bracketSpacing": false,
        "printWidth": 100,
        "endOfLine": "lf"
    }
    